# Electron (old)
node_modules
package-lock.json
yarn.lock

# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# Tauri
.tauri/
dist/
gen/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build artifacts
flatpak/.flatpak-builder
flatpak/build
flatpak-test

# Downloads
ressources/quran/downloads
